.carousel-indicators .active {
    opacity: 1;
}
    .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff; 
    background-clip: padding-box; 
    border: 0; 
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
    transition: opacity .6s ease;
    border-radius: 50%;
}    