---
import NewsletterForm from "./NewsletterForm.astro";
---

<div class="py-3 border-top border-bottom">
  <!-- <span class="badge rounded-pill fw-bold text-pc-light bg-pc-dark py-2 px-3"
    >Join us</span> -->
  <h2 class="fs-5 mb-2 mt-3 text-black-50">
    Subscribe to the <span class="text-pc-dark">Prince Collection</span> newsletter
  </h2>
  <p class="mt-2 mb-3 text-balance">
    You'll receive priority information about the newest luxury properties
    worldwide, exclusive reservations and deals through Prince Collection, and unique destinations across the globe.
  </p>
  <div class="col-lg-8">
    <NewsletterForm newsletterBtn="btn-pc" newsletterClass="text-light" />
    <!-- <p class="small text-pc-dark-80">
      By providing your email, you agree to the Prince Collection Privacy Policy
    </p> -->
  </div>
</div>
