---
const { drawerTitle, drawerId, drawerClass, drawerAriaLabel } = Astro.props;
---

<div class:list={["offcanvas offcanvas-bottom h-100", drawerClass]} tabindex="-1" id={drawerId} aria-labelledby={drawerAriaLabel}>
    <div class="offcanvas-header">
        <div class="d-flex justify-content-center align-items-center">
            <img class="logo m-0 me-1" style="width: 30px; height: 30px;" src="/images/logos/logo-crown.png" alt="Prince of Travel crown logo">
            <a href="/">
                <h3 class="fw-900 text-uppercase text-body-secondary fs-4 mb-0 mt-2">Prince<span style="font-family: 'Helvetica Neue', helvetica, Arial, sans-serif; font-weight: 100">Collection</span></h3>
            </a>
        </div>
        <i class="bi bi-x-circle-fill position-absolute top-0 end-0 fs-1 me-3 mt-3 mt-lg-2 text-pc-dark" role="button" data-bs-dismiss="offcanvas" aria-label="Close"></i>
    </div>
    <div class="offcanvas-body">
    <!-- <div class="offcanvas-body d-flex flex-column justify-content-end"> for title only menu -->
        <slot />
    </div>
</div>