---
const today = new Date();
---

<footer>
    <div class="row p-5 text-body-secondary">
        <div class="col-md-6 col-lg-6 p-4">
            <div class="d-flex justify-content-start align-items-center">
                <img class="m-0 me-1" style="width: 25px; height: 25px;" src="" data-src="/images/logos/logo-crown.png" alt="Prince of Travel crown logo">
                <h3 class="fs-4 fw-bold text-uppercase mb-0">Prince<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100;">Collection</span></h3>
            </div>
            <p class="col-md-8 text-black-50 mt-2 mb-3 pt-1 pb-1">Through our in-house travel agency and luxury travel Concierge service, Prince Collection enables the modern luxury traveller to elevate their experience to new heights.</p>
            <div class="d-flex">
                <a href="https://www.facebook.com/people/Prince-Collection/61556292290633/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook fs-5 me-1 rounded-2 px-2 py-1" style="background: #d6d6d680;"></i>
                </a>
                <a href="https://www.instagram.com/princecollection" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram fs-5 me-1 rounded-2 px-2 py-1" style="background: #d6d6d680;"></i>
                </a>
                <a href="https://twitter.com/princeclxn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-twitter-x fs-5 rounded-2 px-2 py-1" style="background: #d6d6d680;"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Product</li>
                <li><a href="/about">About</a></li>
                <li><a href="/concierge">Concierge</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/book">Book Travel</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Company</li>
                <li><a href="https://princeoftravel.com/about/" target="_blank">About</a></li>
                <li><a href="https://princeoftravel.com" target="_blank">Prince of Travel</a></li>
                <li><a href="https://thetravelsummit.com" target="_blank">The Travel Summit</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Resources</li>
                <li><a href="/news">News</a></li>
                <li><a href="/guides">Guides</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li>Privacy</li>
            </ul>
        </div>
        <div class="col-lg-12 text-center border-top pt-4 px-4 text-body-tertiary">
            <p class="m-0">Prince Collection is a licensed travel agency, registered in the province of Ontario, Canada.</p>
            <p class="m-0">TICO #50023501</p>
            <p class="m-0">&copy; {today.getFullYear()} Prince of Travel</p>
        </div>
    </div>
</footer>

<style scoped>

footer {
    background: #d6d6d640;
    background: rgb(241, 245, 249);
    background: var(--color-light-grey);
}

ul li {
    margin-bottom: 10px;
}
</style>